In [ ]:
#yara adel hassan 19100683
#wed 12,30

#group of data or sequence 
x=c(62 , 75 , 67 , 65	, 68 , 71 , 67 , 81	, 61	, 62 , 67 , 63 , 73 ,	78 ,	72 ,	57 ,	92 ,
70 , 59 ,	65 ,	88 ,	67 ,	73 ,	75 ,	66 ,	63 ,	67 ,	74 ,	71 ,	80 ,	66 ,	67 ,	78 ,	
74 ,	82 ,	60 ,	55 ,	74 ,	82 ,	61 ,	57 ,	69 ,	77 ,	77 ,	68 ,	85	, 67 ,	60 ,	70 ,	64)

print(mean(x))
print (mode(x))
print(median(x))
print(range(x))
print(max(x, na.rm=TRUE) - min(x, na.rm=TRUE))
print(var(x))
print(sd(y3))
print(sd(y3, na.rm=TRUE)/mean(y3, na.rm=TRUE)*100)


weighted.mean(x)
gom_mean = function(x, na.rm=TRUE){
  exp(sum(log(x[x > 0]), na.rm=na.rm) / length(x))
}

gom_mean(x)

y=c(1/2, 1/4, 1/5, 9/72, 7/4)
gom_mean(y)

#calculate Interquartile range (IQR): 3rd  Quartiles(Q3) - 1st Quartile (Q1).

IQR(x)

[1] 69.84
[1] "numeric"
[1] 68
[1] 55 92
[1] 37
[1] 68.38204
[1] 8.269343
[1] 11.84041

[1] 69.84

[1] 69.37276

[1] 0.3528398

[1] 10.5

In [ ]:
x=c(62 , 75 , 67 , 65	, 68 , 71 , 67 , 81	, 61	, 62 , 67 , 63 , 73 ,	78 ,	72 ,	57 ,	92 ,
70 , 59 ,	65 ,	88 ,	67 ,	73 ,	75 ,	66 ,	63 ,	67 ,	74 ,	71 ,	80 ,	66 ,	67 ,	78 ,	
74 ,	82 ,	60 ,	55 ,	74 ,	82 ,	61 ,	57 ,	69 ,	77 ,	77 ,	68 ,	85	, 67 ,	60 ,	70 ,	64)

[1] "numeric"